@import url('https://fonts.googleapis.com/css?family=Modak|Ubuntu&display=swap');



body {
  background-color: #262629;
  color: white;
  /* font-family: 'Ubuntu',
    sans-serif; */
}

main {
  margin: 2%;
}