.save_project_form {
  margin-left: 30%;
  margin-top: 30px;
}

.project_input {
  display: inline-block;
  font-size: 18px;
  width: 450px;
  height: 48px;
}

.add_project_button {
  background-color: #808080;
  color: white;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  width: 174px;
  height: 54px;
}