

.logo {
  height: 175px;
  width: auto;
  position: absolute;
  text-align: center;
  top: 6%;
  right: 28%;
}

h1 {
  margin-top: -23px;
  font-size: 5em;
  text-align: center;
  
}

input {
  height: 30px;
  width: 120px;
  border-radius: 3% 0 0 3%;
}

button {
  height: 50px;
  width: 125px;
  font-size: 14px;
}

.homeButton {
  margin: 50px;
  width: 150px;
}