.navBar {}

.logo {
  height: 200px;
  width: auto;
  position: absolute;
  text-align: center;
  top: 17.5%;
  right: 19%;
}

h1 {
  font-size: 4em;
  text-align: center;
}

input {
  height: 30px;
  width: 120px;
  border-radius: 3% 0 0 3%;
}

button {
  height: 34px;
}

.homeButton {
  margin: 50px;
}